ClientApplication/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Final_Katrina_Mehta" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Final_Katrina_Mehta" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomerModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerModel" nillable="true" type="tns:CustomerModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerModel" nillable="true" type="tns:ArrayOfCustomerModel" />
  <xs:complexType name="CustomerModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YTDOrders" type="xs:int" />
      <xs:element minOccurs="0" name="YTDSales" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerModel" nillable="true" type="tns:CustomerModel" />
  <xs:complexType name="ArrayOfOrderModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderModel" nillable="true" type="tns:OrderModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderModel" nillable="true" type="tns:ArrayOfOrderModel" />
  <xs:complexType name="OrderModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="FilledDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderModel" nillable="true" type="tns:OrderModel" />
</xs:schema>